
html{
    font-size: 10px;
    font-family: 'Signika', sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  .blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #222121;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    margin-left: 25rem;
  
  }
  
  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem;
    height: 30rem;
    margin-left: 5rem;
    transform: translateX(-8rem);
    position: relative;
  }
  
  .blog-post__img img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
    border-radius: .8rem;
  }
  
  .blog-post__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
  }
  .blog-post__date .head1{
       position: relative;
       top: -1rem;
      font-size: 50px;
      color: rgb(221, 188, 0);
  }
  
  .blog-post__date span {
    display: block;
    color: rgba(0, 162, 255, 0.849);
    font-size: rem;
    font-weight: 800;
    margin: .5rem 0;
  }
  
  .blog-post__title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    position: relative;
    top: 2rem;
    text-transform:capitalize;
    color: #ffffff;
  }
  
  .blog-post__text {
    position: relative;
    top: -6rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgb(211, 211, 211);
  }
  
  .blog-post__cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to left, #4facfe 0%, #00f2fe 100%);
    border-radius: .8rem;
    text-decoration: none;
    transition: all 1s ease-in-out;
  }
  
  .blog-post__cta:hover {
    background-image: linear-gradient(to left, #00f2fe 0%, #4facfe 100%);
  }
  
  @media screen and (max-width: 1068px) {
    .blog-post {
      max-width: 80rem;
    }
    .blog-post__img {
      min-width: 30rem;
      max-width: 30rem;
    }
  }
  
  @media screen and (max-width: 868px) {
    .blog-post {
      max-width: 70rem;
      margin-left: 2px;
      margin-top: 8rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .blog-post {
      padding: 2.5rem;
      flex-direction: column;
    }
    .blog-post__img {
      min-width: 100%;
      max-width: 100%;
      transform: translate(0, -8rem);
    }
  }
      @media screen and (min-width: 438px) and (max-width: 644px) {
      
  }
  
  
  
  @media only screen and (max-width: 600px){
  
  }